BasedOnStyle: LLVM
IndentWidth: 4
TabWidth: 4
UseTab: Never
ColumnLimit: 200
AllowShortFunctionsOnASingleLine: false
SortIncludes: true
InsertBraces: true
BreakBeforeBraces: Custom
BraceWrapping:
  AfterFunction: true
  AfterControlStatement: false
  AfterClass: false
  AfterNamespace: false
  AfterEnum: false
  AfterStruct: false
  AfterUnion: false
  AfterExternBlock: false